<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD528ahxj-SgA6FTcps7S7GckncQnSygOY</string>
	<key>GCM_SENDER_ID</key>
	<string>788249909527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.co.anycloud.livekit-sample</string>
	<key>PROJECT_ID</key>
	<string>livekit-sample-28975</string>
	<key>STORAGE_BUCKET</key>
	<string>livekit-sample-28975.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:788249909527:ios:e0931914520debc3e0ff52</string>
</dict>
</plist>